{% extends 'base.html' %}
{% load static %}
{% block title %}Agregar Servicios{% endblock %}

{% block titleContent %}
  <h1>Agregar un servicio</h1>
{% endblock %}


{% block content %}
  <form method="post">
    <div class="overflow-auto w-50">
      {% csrf_token %}
      {% for field in form %}
        <div class='mb-2'>
          {{ field.label }}
          {{ field }}
        </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-row justify-content-end align-items-center">
      <a href="{% url 'services' %}" class="btn btn-secondary me-2">Cancelar</a>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
  </form>
{% endblock %}