{% extends 'base.html' %}

{% load static %}


{% block title %}Agendamientos{% endblock %}

{% block titleContent %}
  <h1>Agendamientos</h1>
{% endblock %}

{% block titleButtom %}
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#schedule">
    <img src="{% static 'img/actions/calendar-plus.svg' %}"/>
  </button>
{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre </th>
                    <th>Apellido</th>
                    <th>Hora Atención</th>
                    <th>Servicio Solicitado</th>
                    <th>Condición</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Elias Santiago</td>
                    <td>Cáceres Melgarejo</td>
                    <td>16:30</td>
                    <td>Odontológico</td>
                    <td>Clientes Personales</td>
                    <td>
                      <img class="bi pe-none me-2" src="{% static '/img/actions/calendar-check.svg' %}" />
                      <img class="bi pe-none me-2" src="{% static '/img/actions/edit.svg' %}" />
                      <img class="bi pe-none me-2" src="{% static '/img/actions/delete.svg' %}" />
                    </td>
                </tr>      
            </tbody>
        </table>
      </div>
    </div>  
  </div>
  <!-- Modal when right top button is clicked -->
  <div class="modal fade" id="schedule" tabindex="-1" aria-labelledby="scheduleLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-black" id="scheduleLabel">Agendar una consulta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Agendar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}