{% extends 'base.html' %}

{% load static %}
{% load tz %}
{% load i18n %}

{% block title %}Servicios{% endblock %}

{% block titleContent %}
  <h1>Servicios</h1>
{% endblock %}

{% block titleButtom %}
  <a href="{% url 'add_service' %}" class="d-flex justify-content-center align-items-center btn">
    <img src="{% static 'img/actions/circular-plus.svg' %}"/>
  </a>
{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-bordered text-white">
          <thead>
            <tr>
              <th class="d-flex justify-content-center">#</th>
              <th>Servicio</th>
              <th>Categoría</th>
              <th>Costo</th>
              <th>Añadido</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for service in object_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ service.descripcion_servicio }}</td>
                <td>{{ service.id_categoria_servicio_fk_servicio }}</td>
                <td>{{ service.costo_servicio }}</td>
                <td>
                  {% localtime on %}
                      {% language 'es' %}
                        {{ service.insercion_servicio | date:'D, d N Y' }}
                      {% endlanguage %}
                    {% endlocaltime %}
                </td>
                <td>
                  {% if service.estado_servicio %}
                      Activo
                    {% else %}
                      Inactivo
                    {% endif %}
                </td>
                <td class="d-flex justify-content-center">
                  <a href="{% url 'delete_service' service.id_servicio %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr> 
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>  
  </div>
{% endblock %}