{% extends 'base.html' %}

{% load static %}

{% block title %}Confirmar Eliminación de Servicio{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>¿Está seguro que desea eliminar el servicio <strong>{{ object }}</strong>?</p>
    <div class="d-flex flex-row align-items-center">
      <a href="{% url 'services' %}" class="btn btn-secondary me-2">Cancelar</a>
      <button type="submit" class="btn btn-danger w-auto">Confirmar</button>
    </div>
  </form>
{% endblock %}