{% extends 'base.html' %}


{% block title %}Configuraciones{% endblock %}

{% block titleContent %}
  <h1>Configuraciones</h1>
{% endblock %}

{% block content %}
  <div>Contenido</div>
{% endblock %}