{% extends 'base.html' %}

{% load static %}
{% load tz %}
{% load i18n %}

{% block title %}Usuarios{% endblock %}

{% block titleContent %}
  <h1>Usuarios</h1>
{% endblock %}

{% block titleButtom %}
  <a href="{% url 'add_user' %}" class="d-flex justify-content-center align-items-center btn">
    <img src="{% static 'img/actions/circular-plus.svg' %}"/>
  </a>
{% endblock %}

{% block content %}
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th class="d-flex justify-content-center">#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Nacimiento</th>
                    <th>Añadido</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              {% for user in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ user.nombres_persona }}</td>
                  <td>{{ user.apellidos_persona }}</td>
                  <td>{{ user.cedula_persona }}</td>
                  <td>
                    {% localtime on %}
                      {% language 'es' %}
                        {{ user.nacimiento_persona | date:'D, d N Y' }}
                      {% endlanguage %}
                    {% endlocaltime %}
                  </td>
                  <td>
                    {% localtime on %}
                      {% language 'es' %}
                        {{ user.insercion_persona | date:'D, d N Y' }}
                      {% endlanguage %}
                    {% endlocaltime %}
                  </td>
                  <td>
                    {% if user.activo_persona %}
                      Activo
                    {% else %}
                      Inactivo
                    {% endif %}
                  </td>
                  <td class="d-flex justify-content-center">
                    <a href="{% url 'delete_user' user.id_persona %}" class="btn btn-danger">Eliminar</a>
                  </td>
                </tr>
              {% endfor %}     
            </tbody>
        </table>
      </div>
    </div>  
  </div>
{% endblock %}